# This is Git's per-user configuration file.
[user]
  name = Kiah Stroud
  email = kiah@kiah.dev
  username = bkiahstroud
[core]
  autocrlf = input
  editor = nvim
  excludesfile = /Users/kiah/.gitignore
[push]
  default = simple
  followTags = true
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  undolast = reset --soft HEAD~
  last = log -1 HEAD
  prune = fetch --prune
  undo = reset --soft HEAD^
  stashall = stash --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[branch]
  sort = -committerdate
[status]
  showUntrackedFiles = all
[init]
  defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
