format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$fill\
$custom\
$status\
$cmd_duration\
$memory_usage\
$kubernetes\
$helm\
$rust \
$golang\
$lua\
$python\
$ruby\
$time\
$line_break\
$character"""

[fill]
symbol = ' '

[time]
format = '[$time]($style) '
time_format = '%a %I:%M:%S%P'
style = 'bold white'
disabled = false

[cmd_duration]
format = '[$duration]($style) '
min_time = 5_000

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_commit]
style = 'bold yellow'

[git_metrics]
disabled = false

[git_status]
style = 'bold yellow'
stashed = ''

[rust]
format = '[$symbol($version )]($style)'
symbol = ' '

[golang]
format = '[$symbol($version )]($style)'
symbol = ' '

[ruby]
format = '[$symbol($version )]($style)'
symbol = ' '

[kubernetes]
format = '[$symbol$context( \($namespace\))]($style) '
disabled = false
contexts = [
    { context_pattern = 'r2-besties', context_alias = 'besties' },
    { context_pattern = 'r2-gbh-ams2', context_alias = 'gbh' },
    { context_pattern = 'r2-bbf', context_alias = 'bbf' },
    { context_pattern = 'r2-staging', context_alias = 'staging' },
    { context_pattern = 'r2-friends', context_alias = 'friends' },
    { context_pattern = 'r2-gc', context_alias = 'gc' },
]

[memory_usage]
format = '$symbol [${ram}( | ${swap})]($style) '
symbol = ''
disabled = false

[status]
disabled = false

[custom.next_task]
description = "Highest priority taskwarrior"
command = """
desc=$(task +PENDING project:work export | jq 'sort_by(.urgency | tonumber) | last  | .description' | sed 's|\"||g')
echo ${desc:0:55}
"""
symbol = " "
format = "[$symbol]($style) [$output]($style) "
style = "green"
shell = ["bash", "--noprofile", "--norc"]
when = "true"
